<div class="container">
    <div class="row">
        <div style="text-decoration: none; color:rgb(16, 64, 116);" class="col-lg-3 col-sm-6 text-center">
            <a (click)="filter('')"  >
                <img id="img1" class="w-50 mb-2" style="height:170px; border-radius: 90px; " src="https://i.postimg.cc/Kzt4jDWv/phonecart.jpg" alt="">
                <h4 class="mt-1">All product</h4>
            </a>
        </div>
        <div class=" col-lg-3 col-sm-6 text-center">
            <a (click)="filter('1')" >
                <img id="img1" class="w-50" style="height:170px; border-radius: 90px;  "  src="https://i.postimg.cc/DwZTMRvd/samsung.png" alt="">
                <h4 class="mt-1">Samsung</h4>
            </a>
        </div>
        <div class="col-lg-3 col-sm-6 text-center">
            <a (click)="filter('2')">
                <img id="img1" class="w-50" style="height:170px; border-radius: 90px;"  src="https://i.postimg.cc/QtDKpz1W/applelogo.jpg" alt="">
                
                <h4 class="mt-1">Apple</h4>
            </a>
        </div>
        <div class="col-lg-3 col-sm-6 text-center">
            <a (click)="filter('3')">
                <img id="img1" class="w-50"style="height:170px; border-radius: 90px;" src="https://i.postimg.cc/ZKkzJj8p/realme.png" alt="">
                <h4 class="mt-1"> Realme</h4>
            </a>
        </div>
    </div>
</div>

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col-lg-3 col-lg-4 col-sm-6 mb-5" *ngFor="let i of filterCategory | filter : searchString:'productName' ">
                <div class="card h-100">
                    <!-- Product image-->
                    <img style="height: 350px;" class="card-img-top" src="{{i.productImg}}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{i.productName}}</h5>
                            <!-- Product price-->
                           ${{i.price}}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" routerLink="view-product/{{i.id}}">View</a></div>
                    </div>
            </div>
            </div>
        </div>
    </div>
</section>